<h1>This is my home page</h1>


<h2>Settings</h2>

<form action="/settings" method="post">
    <input type="text" name="smsCost" placeholder="enter sms cost">
    <input type="text" name="callCost" placeholder="enter call cost">
    <input type="text" name="warning" placeholder="enter wqrning level">
    <input type="text" name="criticalLevel" placeholder="enter critical level">
    <input type="submit">
</form>